<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/CSS/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <svg height="40pt" viewBox="-114 0 512 512.0003" width="40" xmlns="http://www.w3.org/2000/svg"><path d="m281.335938 359.28125-2.121094-7.679688-24.363282-89.246093c-5.53125-20.464844-21.207031-36.640625-41.488281-42.8125l-37.515625-11.476563c.882813-1.367187 1.34375-2.964844 1.320313-4.589844v-12.625c.027343-1.914062-.59375-3.777343-1.761719-5.296874-2.53125-3.46875-7.207031-4.589844-11.035156-2.648438l-22.070313 11.125h-.089843l-.351563.175781-.53125-.265625-21.980469-11.035156c-3.828125-1.941406-8.5-.820312-11.03125 2.648438-1.183594 1.511718-1.804687 3.382812-1.765625 5.296874v12.625c-.023437 1.625.4375 3.222657 1.324219 4.589844l-37.519531 11.476563c-1.929688.574219-3.816407 1.28125-5.648438 2.117187-.695312.210938-1.375.476563-2.03125.796875-16.644531 7.601563-29.039062 22.230469-33.808593 39.898438l-24.363282 89.246093-2.121094 7.679688c-1.578124 5.964844-2.37890575 12.105469-2.382812 18.273438-.0117188 8.472656 1.515625 16.878906 4.503906 24.808593l30.277344 79.445313 7.503906-2.824219 11.296875-4.324219v19.683594c.007813 1.644531.246094 3.277344.707031 4.855469 2.164063 7.570312 9.078126 12.789062 16.949219 12.800781h137.800781c2.359376.019531 4.632813-.917969 6.292969-2.59375 1.664063-1.679688 2.574219-3.960938 2.53125-6.320312 8.714844-.371094 16.398438-5.835938 19.597657-13.949219l3.972656-10.152344 7.503906 2.824219 30.277344-79.445313c2.988281-7.929687 4.515625-16.335937 4.503906-24.808593-.003906-6.167969-.804688-12.308594-2.382812-18.273438zm-64.972657-36.898438 12.269531 45.019532c1.953126 7.230468 1.582032 14.886718-1.058593 21.894531l-23.921875 62.765625v-72.476562zm0 0" fill="#c03a2b"/><path d="m98.25 140.886719c-.085938 0-.261719-.085938-.351562-.085938-10.347657-2.023437-17.816407-11.085937-17.832032-21.628906v-57.378906c0-22.078125 11.777344-42.476563 30.898438-53.515625 19.117187-11.035156 42.671875-11.035156 61.792968 0 19.117188 11.039062 30.894532 31.4375 30.894532 53.515625v57.378906c-.015625 10.542969-7.484375 19.605469-17.832032 21.628906-.085937 0-.265624.085938-.351562.085938zm0 0" fill="#2c2f38"/><path d="m185.820312 141.417969c.042969 1.742187-.042968 3.480469-.265624 5.207031-.183594 3.585938-.59375 7.152344-1.234376 10.683594-1.566406 9.800781-4.574218 19.320312-8.914062 28.246094-2.386719-3.265626-6.886719 15.449218-11.035156 17.480468l-22.070313 11.121094h-.089843c-.289063-.066406-.585938-.097656-.882813-.085938l-21.980469-11.035156c-4.148437-2.03125-8.648437-20.746094-11.03125-17.480468-4.34375-8.925782-7.351562-18.445313-8.917968-28.246094-.640626-3.53125-1.050782-7.097656-1.234376-10.683594-.222656-1.726562-.308593-3.464844-.265624-5.207031.085937-.195313.207031-.375.351562-.53125 6.796875-10.414063 23.835938-17.832031 43.609375-17.832031s36.8125 7.417968 43.609375 17.832031c.148438.15625.265625.335937.351562.53125zm0 0" fill="#fdd7ad"/><g fill="#e64c3c"><path d="m141.859375 229.515625v150.070313h-52.964844v-141.242188c-.074219-9.71875-7.933593-17.582031-17.65625-17.652344-2.207031 0-4.394531.417969-6.445312 1.234375l-.085938-.265625c1.832031-.835937 3.71875-1.542968 5.648438-2.117187l37.519531-11.476563c.769531 1.183594 1.792969 2.179688 3 2.914063zm0 0"/><path d="m64.792969 221.925781c-.667969.242188-1.316407.535157-1.941407.882813-5.691406 3.097656-9.246093 9.054687-9.269531 15.535156v236.316406l-11.296875 4.324219-7.503906 2.824219-30.277344-79.445313c-2.988281-7.929687-4.5156248-16.335937-4.503906-24.808593.00390625-6.167969.804688-12.308594 2.382812-18.273438l2.121094-7.679688 24.363282-89.246093c4.769531-17.667969 17.164062-32.296875 33.808593-39.898438.65625-.320312 1.335938-.585937 2.03125-.796875zm0 0"/><path d="m141.859375 432.550781v79.449219h-57.910156c5.449219.003906 10.589843-2.507812 13.9375-6.804688 3.347656-4.296874 4.523437-9.894531 3.1875-15.175781l-12.179688-48.640625h44.136719c4.875 0 8.828125-3.953125 8.828125-8.828125zm0 0"/></g><path d="m141.859375 194.207031v35.308594l-30.984375-18.535156c-1.207031-.734375-2.230469-1.730469-3-2.914063-.886719-1.367187-1.347656-2.964844-1.324219-4.589844v-12.625c-.039062-1.914062.582031-3.785156 1.765625-5.296874 2.53125-3.46875 7.203125-4.589844 11.03125-2.648438l21.980469 11.035156zm0 0" fill="#c03a2b"/><path d="m54.289062 499.199219c-3.632812-2.464844-6.433593-5.972657-8.03125-10.0625l-3.972656-10.152344 11.296875-4.324219v19.683594c.007813 1.644531.246094 3.277344.707031 4.855469zm0 0" fill="#fdd7ad"/><path d="m177.167969 190.851562v12.625c.023437 1.625-.4375 3.222657-1.320313 4.589844-.773437 1.183594-1.796875 2.179688-3.003906 2.914063l-30.984375 18.535156v-35.308594l.351563-.175781h.089843l22.070313-11.125c3.828125-1.941406 8.503906-.820312 11.035156 2.648438 1.167969 1.519531 1.789062 3.382812 1.761719 5.296874zm0 0" fill="#802f34"/><path d="m241.433594 478.984375-3.972656 10.152344c-3.199219 8.113281-10.882813 13.578125-19.597657 13.949219-3.066406.1875-6.140625-.296876-9.003906-1.414063-11.496094-4.453125-17.363281-17.246094-13.238281-28.867187l3.882812-9.886719zm0 0" fill="#fdd7ad"/><path d="m177.167969 247.171875c0 4.875-3.949219 8.828125-8.824219 8.828125s-8.828125-3.953125-8.828125-8.828125 3.953125-8.828125 8.828125-8.828125 8.824219 3.953125 8.824219 8.828125zm0 0" fill="#e4c05c"/><path d="m177.167969 273.65625c0 4.875-3.949219 8.828125-8.824219 8.828125s-8.828125-3.953125-8.828125-8.828125 3.953125-8.828125 8.828125-8.828125 8.824219 3.953125 8.824219 8.828125zm0 0" fill="#f3d55b"/><path d="m177.167969 300.136719c0 4.875-3.949219 8.828125-8.824219 8.828125s-8.828125-3.953125-8.828125-8.828125 3.953125-8.828125 8.828125-8.828125 8.824219 3.953125 8.824219 8.828125zm0 0" fill="#e4c05c"/><path d="m177.167969 326.621094c0 4.875-3.949219 8.828125-8.824219 8.828125s-8.828125-3.953125-8.828125-8.828125 3.953125-8.828125 8.828125-8.828125 8.824219 3.953125 8.824219 8.828125zm0 0" fill="#f3d55b"/><path d="m177.167969 353.101562c0 4.878907-3.949219 8.828126-8.824219 8.828126s-8.828125-3.949219-8.828125-8.828126c0-4.875 3.953125-8.824218 8.828125-8.824218s8.824219 3.949218 8.824219 8.824218zm0 0" fill="#e4c05c"/><path d="m203.652344 379.585938v35.3125h-61.792969c0-4.878907-3.953125-8.828126-8.828125-8.828126h-44.136719v-26.484374zm0 0" fill="#bdc3c7"/><path d="m141.859375 414.898438v17.652343c0 4.875-3.953125 8.828125-8.828125 8.828125h-44.136719v-35.308594h44.136719c4.875 0 8.828125 3.949219 8.828125 8.828126zm0 0" fill="#7f8c8d"/><path d="m62.410156 247.171875c-4.875 0-8.828125-3.953125-8.828125-8.828125v-141.242188c0-4.875 3.953125-8.824218 8.828125-8.824218s8.828125 3.949218 8.828125 8.824218v141.242188c0 4.875-3.953125 8.828125-8.828125 8.828125zm0 0" fill="#35495e"/><path d="m83.949219 512h-12.710938c-7.871093-.011719-14.785156-5.230469-16.949219-12.800781-.460937-1.578125-.699218-3.210938-.707031-4.855469v-256c.023438-6.480469 3.578125-12.4375 9.269531-15.535156.625-.347656 1.273438-.640625 1.941407-.882813 2.050781-.816406 4.238281-1.234375 6.445312-1.234375 9.722657.070313 17.582031 7.933594 17.65625 17.652344v203.035156l12.179688 48.640625c1.335937 5.28125.160156 10.878907-3.1875 15.175781-3.347657 4.296876-8.488281 6.808594-13.9375 6.804688zm0 0" fill="#2c2f38"/><path d="m54.289062 499.199219c-3.632812-2.464844-6.433593-5.972657-8.03125-10.0625l-3.972656-10.152344 11.296875-4.324219v19.683594c.007813 1.644531.246094 3.277344.707031 4.855469zm0 0" fill="#fdd7ad"/></svg>
        </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                            <a class="nav-link" href="/history">History<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Army Components
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/components/infantry">Infantry</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Artillery</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/components/cavalry">Cavalry</a>
                            </div>
                          </li>
                          <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Conflicts
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="#">Crimean War</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Franco-Prussian War</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">American Civil War</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Mexican-American War</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">French Intervention</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Russo-Turkish War</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Italian Unification</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Indian Mutiny</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">War of the Triple Alliance</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Boer Wars</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Boxer Rebellion</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">1848 Revolutions</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">French Intervention</a>
                                </div>
                              </li>
                      <li class="nav-item active">
                            <a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                            <a class="nav-link" href="#">Contact<span class="sr-only">(current)</span></a>
                      </li>
                     
    </nav>
