<% include ../partials/header.ejs %>
    <div class="container">
        <div class="jumbotron cavalry">
            <h1>Cavalry</h1>
        </div>
    Here there will be information on Cavalry
    </div>
<% include ../partials/footer.ejs %>