<% include ../partials/header.ejs %>
    <div class="container">
        <div class="jumbotron">

        </div>
    Here there will be information on Cavalry
    </div>
<% include ../partials/footer.ejs %>