<% include partials/header.ejs %>
<div class="container">
    <article>
<% historyArticles.forEach( function(historyArticle){ %>
        <h6><%= historyArticle.title %></h6>
        <img class ="img-thumbnail" src="<%= historyArticle.image %>">
        <div>
            <%= historyArticle.content %>
        </div>
<% }); %>
    </article>
</div>
<% include partials/footer.ejs %>