nav {
    margin-bottom: 2%;
}

body {
    background-color: rgb(253, 249, 231);
}

/* history page */

.container-fluid .title-top {
    display: flex;
    flex-wrap: wrap;
}

#title-history {
    display: flex;
    justify-content: center;
}

article {
    margin: 2%;
}

.container .container-history {
    display: flex;
    flex-wrap: wrap;
}

#write-icon {
    display: flex; 
    justify-content: flex-end;
}

.history-image {
 height: 250px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}


.history-article-title {
    min-height: 100px;
}

.content {
    margin-bottom: 2%;
}

/* Show History Article Page */

.date {
    margin-bottom: 1%;
}

.show-title {
    text-align: center;
    font-style: italic;
}

.show-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-show {
    margin-bottom: 1%;
}

/* cavalry page */

.cavalry {
    background-image: url("/assets/cavalry_jumbotron.jpg");
    background-size: cover;
    text-align: center;
    color: white;
}

