<% include ../partials/header.ejs %>
<div class="container">
    <h1><em>Firearms</em></h1>
    <div>
        <h4 style="text-align: center;">Introduction</h4>

    </div>
</div>

<% include ../partials/footer.ejs %>